.ImageLodingClass {
  object-fit: cover;
  opacity: 0.9;
  transition: opacity 200ms ease-in-out;
  position: relative;
  animation: infinite ImageLodingClass 3s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transform-origin: left;
  display: block;
}

@keyframes ImageLodingClass {
  0% {
    border: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  50% {
    border: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  100% {
  }
}

.ImageLodingClassDiv {
  position: relative;
  color: #fff;
  background: transparent;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
  margin: 1px;
}

.ImageLodingClassDiv span {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(95, 95, 95, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(95, 95, 95, 0.5),
    rgba(255, 255, 255, 0.5),
    transparent 50%
  );
}

.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    transparent 30%,
    rgba(95, 95, 95, 0.5),
    rgba(255, 255, 255, 0.5),
  );
}

.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    transparent 30%,
    rgba(95, 95, 95, 0.5),
    rgba(255, 255, 255, 0.5),
  );
}

.top {
  animation: animateTop 2s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 2s ease-in-out infinite;
}

.right {
  animation: animateRight 2s ease-in-out infinite;
}

.left {
  animation: animateLeft 2s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
