.menuDiv {
    margin: 0;
    width: 24px;
    cursor: pointer;
}
.menuDiv button {width: 24px;
    height: 14px;
    margin: 0;
}


/* logo-Mobile */
.logo-Mobile
{
    margin: 10px auto;
    display: block;
}
/* Deliver-to */

.Deliver-to-Mobile {
    display: flex;
    column-gap: 6px;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
  }
  
  .Deliver-to-span-Mobile  {
    display: flex;
    flex-direction: column;
  }
  
  .Deliver-to-span-Mobile  img {
    height: 16px;
    width: 16px;
  }
  .Deliver-to-span-Mobile  span:first-child {
    font-family: "Cairo";
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
  
    color: var(--DarkGray);
  }
  .Deliver-to-span-Mobile span:last-child {
      font-family: 'Cairo';
      font-style: Medium;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
  
      
      
      color: var(--InkBlue);
  
  
  }
  


  /* language */
  .language-Mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 9px;
  border-right: 1px solid var(--border);
  cursor: pointer;

  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.language-Mobile span {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--DarkGray);
}